<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Google Search Engine-->
		<add key="Google.BaseUrl" value="https://www.googleapis.com/customsearch/v1?key={Key}&amp;cx={Context}&amp;q={Query}"/>
		<add key="Google.ApiKey" value="AIzaSyB_uPZna_tM9eOCMFZ45ptTasO55Gs0Sjc"/>
		<add key="Google.ContextId" value="6c86f28cd8e71cd42"/>
		<!-- Search engine ID-->

		<!-- Bing Search Engine Settings -->
		<add key="Bing.BaseUrl" value="https://bing-web-search1.p.rapidapi.com/search?q={Query}&amp;mkt=en-us&amp;safeSearch=Off&amp;textFormat=Raw"/>
		<add key="Bing.ApiKey" value="6cbd857ac2mshc5a101297164a4ap1a7a4ajsnfbd5ba1e1562"/>
		<add key="Bing.Host" value="bing-web-search1.p.rapidapi.com"/>
	</appSettings>
</configuration>